
body {
  background: papayawhip;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95vh;
  flex-wrap: wrap;
  min-width: 90%;
  margin: auto;

}


.a, .b, .c, .d, .e, .f {
  border: 1px solid #ababab;
  background-color: #d8d8d8;
  min-height: 15vh;




}



.container .b {
  border: none;
  min-height: 35vh;
  flex-basis: 45%;

  margin-bottom: 5vh;
}


.c, .d, .e {
  flex-basis: 30%;
  width: 25%;
}

.container .c-d-e {
  display: flex;
  justify-content: space-between;
  background-color: papayawhip;
  border: none;

}

.container .b-c-d-e {
  border: none;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */

}


@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }

  .a {
    flex-basis: 100%;


  }



    .container .b-c-d-e {
      margin-top: 5vh;
       flex-basis: 80%;
    }

    .container .c-d-e {
      min-height: 35vh;
    }

  /* .c {
    flex-basis: 15%;
    min-height: 55vh;
  }

  .container .c-d-e {
    flex-basis: 70%;
  } */

  .f {
    flex-basis: 15%;
    margin-top: 5vh;
  }
}
